:root {
  --color-granite: darkgray;
  --color-nemo: orange;
  --color-foam: white;
  --size-xsm: 4px;
  --size-sm: 8px;
  --size-m: 10px;
  --size-l: 16px;
  --size-xl: 32px;
  --ls-s: 0.025em;
  --lh-s: 1.2;
  --lh-m: 1.4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: var(--lh-s);
}

header {
  background: var(--color-granite);
}

h1 {
  text-align: center;
  color: var(--color-foam);
  line-height: var(--lh-m);
  margin: 0;
  letter-spacing: var(--ls-s);
  text-transform: uppercase;
  padding-block: var(--size-l);
}

h2 {
  letter-spacing: var(--ls-s);
}

strong {
  color: var(--color-nemo);
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-xl);
  padding: var(--size-l);
  width: min(1000px, 100%);
  margin: 0 auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: var(--size-m);
  margin: 0;
  padding: var(--size-m);
  background-color: var(--color-nemo);
  border-radius: var(--size-xsm);
}

figcaption {
  color: var(--color-foam);
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-sm) var(--size-l);
}

a {
  display: inline-block;
  font-size: smaller;
  padding: var(--size-sm);
  border-radius: var(--size-xsm);
  background-color: var(--color-nemo);
  color: var(--color-foam);
}

a:hover,
a:focus-visible {
  background-color: var(--color-granite);
  text-decoration: none;
}

mark {
  background-color: var(--color-nemo);
  color: var(--color-foam);
  border-radius: var(--size-xsm);
  letter-spacing: var(--ls-s);
}

::selection {
  background-color: var(--color-granite);
  color: var(--color-nemo);
}
