.main-content {
    background: var(--main-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .main-content__title {
    color: var(--main-text);
    background: var(--main-title-bg);
    margin: 0 0 20px 0;
    padding: 10px;
  }
  
  .main-content__menu-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
